.content {
    padding: 0px 20px;
}

.recipientMessage {
    background-color: white;
    justify-self: flex-start;
    max-width: 75%;
    overflow: auto;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 2000px;
}

.senderMessage {
    background-color: white;
    justify-self: flex-end;
    max-width: 75%;
    overflow: auto;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 2000px;
}
