.recipientMessage {
    background-color: transparent;
    justify-self: flex-start;
    max-width: 75%;
    overflow: auto;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    color: rgb(150, 150, 150);
    border-radius: 2000px;
    border: 1px solid;
}

.senderMessage {
    background-color: transparent;
    justify-self: flex-end;
    max-width: 75%;
    overflow: auto;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    color: rgb(150, 150, 150);
    border-radius: 2000px;
    border: 1px solid;
}
