@use "../../styles/variables.scss";

.messageContainer {
    width: 100%;
    display: grid;
    font-weight: bold;
}

.recipientMessage {
    background-color: variables.$bg-color-secondary;
    justify-self: flex-start;
    max-width: 75%;
    overflow: auto;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.senderMessage {
    background-color: rgba(96, 103, 254, 0.45);
    justify-self: flex-end;
    max-width: 75%;
    overflow: auto;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 20px;
}

.attachment {
    width: auto;
    max-width: 100%;
    max-height: 600px;
    object-fit: cover;
    cursor: pointer;
}

.senderTime {
    font-size: 0.8em;
    color: grey;
    text-align: right;
    margin-top: 0.5em;
    margin-bottom: 1em;

    @media (max-width: 800px) {
        font-size: 0.7em;
    }
}

.recipientTime {
    font-size: 0.8em;
    color: grey;
    margin-top: 0.5em;

    @media (max-width: 800px) {
        font-size: 0.7em;
    }
}
