@use "styles/variables";

.withMediaModal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}

.modalPost {
    width: 28.5%;
    background-color: variables.$bg-color-secondary;
    display: flex;
    flex-direction: column;

    @media (max-width: 1024px) {
        display: none;
    }
}

.modalPostContent {
    padding: 15px;
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
    position: relative;
}

.modalPostUser {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.user {
    display: flex;
    align-items: center;
    grid-gap: 10px;

    &:hover {
        color: inherit;
    }
}

.displayName, .username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.displayName {
    font-weight: bold;
}

.username {
    color: #666;
    font-size: 0.9em;
}

.postText {
    white-space: pre-wrap;
}

.date {
    color: variables.$date-color;
    font-size: 0.8em;
    white-space: nowrap;
    align-self: flex-end;
}

.modalPostComments {
    background-color: variables.$bg-color-primary;
    flex-grow: 1;
    overflow-y: scroll;
}

.modalImageContainer {
    width: 71.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    @media (max-width: 1024px) {
        width: 100%;
    }
}

.modalImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icon {
    width: 35px;
    height: 35px;
    background-color: #1f1f1f;
    border-radius: 55px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageNavigation {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}

.imageNavigationPrev {
    left: 1em;
}

.imageNavigationNext {
    right: 1em;
}

.closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 2;
}

.previewImagesContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    grid-gap: 10px;
    padding: 15px 0;
}

.previewImage {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    position: relative;
}

.charLimit {
    background-color: variables.$accent-color;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 7px;
    max-width: 100%;
    z-index: 1;
}

.charLimitReached {
    background-color: #ec4646;
}

.progressBar {
    background-color: #16c79a;
    position: absolute;
    left: -30%;
    right: 0;
    top: 0;
    height: 7px;
    border-radius: 0 0 8px 8px;
    max-width: 30%;

    @media (max-width: 800px) {
        top: 0;
        border-radius: 0;
    }
}

.progressBarInProgress {
    animation: infinte-loading 2s both infinite;
}

@keyframes infinte-loading {
    0% {
        left: -30%;
    }
    100% {
        left: 100%;
    }
}
