@use "../../styles/variables";

.button, .clickedButton {
    font-weight: bold;
    cursor: pointer;
}

.regular {
    background-color: variables.$accent-color;

    @media (hover: hover) {
        &:hover {
            background-color: variables.$accent-color-dark
        }
    }

    &:active {
        background-color: variables.$accent-color-dark
    }
}

.danger {
    background-color: variables.$danger-color;

    @media (hover: hover) {
        &:hover {
            background-color: variables.$danger-color-dark
        }
    }

    &:active {
        background-color: variables.$danger-color-dark
    }
}

.warning {
    color: black;
    background-color: variables.$warning-color;

    @media (hover: hover) {
        &:hover {
            background-color: variables.$warning-color-dark
        }
    }

    &:active {
        background-color: variables.$warning-color-dark
    }
}

.clickedButton {
    background-color: transparent;
    color: variables.$accent-color;
    border: 1px solid variables.$accent-color;
}