@use "../../styles/variables";

.button, .clickedButton {
    font-weight: bold;
    cursor: pointer;
}

.button {
    background-color: variables.$accent-color;
}

.clickedButton {
    background-color: transparent;
    color: variables.$accent-color;
    border: 1px solid variables.$accent-color;
}