.optionsButton {
    position: relative;
    width: 30px;
    height: 30px;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    &:hover:not(:focus) {
        background-color: #EEE2;
        border-radius: 55px;
    }
}
