@use "styles/variables";

.navbar {
    display: none;
    position: fixed;
    z-index: 8;
    background-color: variables.$base-bg-color;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px solid variables.$divider-color;

    @media (max-width: 800px) {
        display: flex;
        top: unset;
        bottom: 0;
        height: unset;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
}

.unreadBubble {
    background-color: #1f1f1f;
    color: #ddd;
    font-weight: bold;
    font-size: 0.8em;
    width: fit-content;
    width: -moz-fit-content;
    padding: 0 6px;
    height: 20px;
    border-radius: 55px;
    position: absolute;
    top: -7px;
    right: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}
