@use "styles/variables";

.statusBar {
    height: variables.$status-bar-height;
    column-gap: 2em;
    position: sticky;
    top: 0;
    z-index: 7;
    background-color: variables.$base-bg-color;

    @media (max-width: 800px) {
        height: variables.$status-bar-height-mobile;
        column-gap: unset;
    }
}

.title {
    min-width: -moz-fit-content;
    font-size: 3em;
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 20%;
    justify-content: center;

    @media (max-width: 1200px) {
        font-size: 2.5em;
    }

    @media (max-width: 1000px) {
        font-size: 2em;
    }

    @media (max-width: 800px) {
        font-size: 1.3em;
        min-width: 0;
        flex-basis: 70%;
        flex-grow: unset;
        flex-shrink: unset;
        justify-content: flex-start;
        margin-left: 1em;
    }

    @media (max-width: 580px) {
        font-size: 1.2em;
        min-width: 0;
        flex-grow: unset;
        flex-shrink: unset;
        justify-content: flex-start;
    }
}

.user {
    grid-gap: 10px;
    min-width: fit-content;
    min-width: -moz-fit-content;
    position: relative;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    &:hover {
        color: inherit;
        cursor: pointer;
    }

    @media (max-width: 800px) {
        display: none;
    }
}

.search {
    display: block;
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 50%;

    @media (max-width: 800px) {
        display: none;
    }
}

.messagesAndNotifs {
    justify-content: flex-end;
    align-items: center;
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;

    @media (max-width: 800px) {
        flex-basis: 30%;
        min-width: unset;
        flex-grow: unset;
        flex-shrink: unset;
    }
}

.messages, .notifs {
    display: flex;
    position: relative;
    cursor: pointer;
    padding: 8px;
    border-radius: variables.$border-round;

    @media (hover: hover) {
        &:hover {
            background-color: variables.$icon-hover-bg-color;
        }
    }

    &:active {
        background-color: variables.$icon-hover-bg-color;
    }
}

.notifs {
    margin-right: calc(1em - 8px);
}

.unreadBubble {
    background-color: variables.$accent-color;
    color: #ddd;
    font-weight: bold;
    font-size: 0.8em;
    width: fit-content;
    width: -moz-fit-content;
    padding: 0 6px;
    height: 20px;
    border-radius: 55px;
    position: absolute;
    top: -10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backButton {
    border-radius: 55px;
    min-height: 40px;
    min-width: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 1em;

    &:active {
        background-color: #373737;
        cursor: pointer;
    }

    @media (max-width: 800px) {
        display: flex;
    }
}

.icon {
    color: variables.$icon-color;
}
