@use "styles/variables";

.header {
    display: flex;
    align-items: center;
    height: variables.$status-bar-height;
}

.links {
    color: inherit;
    &:hover {
        color: inherit;
    }
}
