@use "../styles/variables";

.imagesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    row-gap: 3px;
    column-gap: 3px;
    border: 1px solid variables.$divider-color;
    border-radius: 10px;
}

.halfImageGrid {
    display: grid;
    row-gap: 3px;
    div {
        height: auto;
    }
}

.halfImageGrid2Images {
    padding: 55% 30% !important;
}

.imageAttachment {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 30%;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
    }

    @media (max-width: 800px) {
        height: 200px;
    }

    @media (min-width: 801px) {
        height: 45vh;
    }
}

.gif {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0 5px;
    background-color: variables.$divider-color;
}
