@use "../styles/variables";

.menuContainer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 8;
    color: variables.$text-color-primary;
    opacity: 0;
    transition: opacity 0.2s;
    visibility: hidden;
    cursor: initial;
    display: flex;
}

.menu {
    background-color: variables.$bg-color-primary;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 100%;
    border-left: 1px solid variables.$divider-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: initial;
    z-index: 9;
    transform: translateX(100%);
    transition: transform 0.35s;

    @media (max-width: 1200px) {
        width: 25%;
    }

    @media (max-width: 1000px) {
        width: 30%;
    }

    @media (max-width: 800px) {
        width: 40%;
    }

    @media (max-width: 599px) {
        width: 60%;
    }
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 15px;
    column-gap: 10px;
    border-radius: 16px;
    animation: menuItem 0.5s forwards;
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            background-color: variables.$bg-color-secondary;
        }
    }

    &:active {
        background-color: variables.$bg-color-secondary;
    }
}

.header {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-bottom: 1px solid variables.$divider-color;
    padding: 15px 20px;
}

.menuOverlay {
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: initial;

    @media (max-width: 1200px) {
        width: 75%;
    }

    @media (max-width: 1000px) {
        width: 70%;
    }

    @media (max-width: 800px) {
        width: 60%;
    }

    @media (max-width: 599px) {
        width: 40%;
    }
}

.menuOpen {
    visibility: visible;
    opacity: 1;
    right: 0;
    justify-content: flex-end;

    & > .menu {
        transform: translate(0);
    }
}

@keyframes menuItem {
    0% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

