@use "../styles/variables";

.menu {
    background-color: variables.$bg-color-primary;
    width: 200px;
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 6;
    border-radius: 16px;
    border: 1px solid variables.$divider-color;
    color: variables.$text-color-primary;

    div {
        padding: 15px;
        border-radius: 16px;
        animation: menuItem 0.5s forwards;

        &:hover {
            background-color: variables.$bg-color-secondary;
        }
    }

    hr {
        margin: 1% auto;
        color: variables.$accent-color;
        background: variables.$accent-color;
        width: 90%;
        border: none;
        height: 1px;
    }

    @media (max-width: 800px) {
        bottom: 0px;
        right: 0px;
        top: unset;
    }
}

@keyframes menuItem {
    0% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
