@use "../../styles/variables";

.menu {
    background-color: variables.$bg-color-primary;
    width: 200px;
    position: absolute;
    right: 0px;
    z-index: 25;
    border-radius: 16px;
    border: 1px solid variables.$divider-color;

    div {
        display: flex;
        column-gap: 10px;
        padding: 15px;
        border-radius: 16px;
        animation: menuItem 0.5s forwards;

        @media (hover: hover) {
            &:hover {
                background-color: variables.$bg-color-secondary;
            }
        }

        &:active {
            background-color: variables.$bg-color-secondary;
        }
    }

    hr {
        margin: 1% auto;
        color: variables.$accent-color;
        background: variables.$accent-color;
        width: 90%;
        border: none;
        height: 1px;
    }
}

@keyframes menuItem {
    0% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
