@use "styles/variables";

.container {
    background-color: variables.$bg-color-secondary;

    &:hover {
        background-color: variables.$bg-color-secondary-hover;
    }
}

.text {
    font-weight: bold;
    font-size: 15px;
    padding: 15px 20px;
}
