@use "../../styles/variables.scss";

.content {
    display: flex;
    column-gap: 2em;
    margin-top: 1em;

    .leftSide {
        flex-basis: 0;
        flex-grow: 0;
        flex-shrink: 0;
        min-width: 20%;
        color: white;
        position: sticky;
        top: 6em;
        height: 80vh;

        @media (max-width: 800px) {
            display: none;
        }
    }

    .center {
        flex-basis: 0;
        flex-grow: 0;
        flex-shrink: 0;
        min-width: 50%;

        @media (max-width: 800px) {
            flex-basis: 100%;
        }
    }

    .rightSide {
        flex-basis: 0;
        flex-grow: 0;
        flex-shrink: 0;
        min-width: 30%;
        color: white;
        position: sticky;
        top: 6em;
        height: 80vh;

        @media (max-width: 800px) {
            display: none;
        }
    }

    @media (max-width: 800px) {
        margin-top: 0;
    }
}

.header {
    width: 100%;
    color: variables.$text-color-primary;
    display: flex;
    align-items: center;
    background-color: variables.$bg-color-primary;
    padding: 10px 15px;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid variables.$divider-color;
    column-gap: 10px;

    @media (max-width: 800px) {
        display: none;
    }
}

.backButton {
    border-radius: 55px;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: variables.$bg-color-secondary;
        cursor: pointer;
    }
}

.expandedPostContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 60px;

    @media (max-width: 800px) {
        margin-left: 0;
        margin-right: 0;    
        margin-top: 1em;
    }
}

.expandedPost {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: variables.$bg-color-primary;
    color: white;
    border-bottom: 1px solid variables.$divider-color;

    @media (max-width: 800px) {
        border-radius: 8px 8px 0 0;
    }
}

.expandedPostContent {
    flex-basis: 100%;
    padding: 15px;
    display: grid;
    position: relative;
    grid-template-columns: auto 10fr;
}

.expandedPostText {
    font-size: 1.2em;
}

.inputContainer {
    position: sticky;
    bottom: 0;
    display: flex;
    background-color: #111;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
}

.postFooter {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
}

.commentsSection {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: variables.$bg-color-primary;
    flex-grow: 1;
    color: white;
}

.user {
    display: flex;
    grid-gap: 10px;
    align-items: center;
    margin-right: auto;
    font-size: 1.2em;

    a:hover {
        color: inherit;
    }
}

.displayName {
    font-weight: bold;
}

.username {
    color: #666;
    font-size: 0.9em;
}

.postNotFound {
    display: flex;
    height: calc(100vh - 83px - 83px);
    justify-content: center;
    align-items: center;

    @media (max-width: 800px) {
        height: calc(100vh - 83px - 65px - 83px);
    }
}

.replyingTo {
    grid-column-start: 1;
    grid-column-end: 4;
    color: #888;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 50px);
}

.progressBar {
    background-color: #16c79a;
    position: absolute;
    left: -30%;
    right: 0;
    top: 0;
    height: 7px;
    border-radius: 0 0 8px 8px;
    max-width: 30%;

    @media (max-width: 800px) {
        top: 0;
        border-radius: 0;
    }
}

.progressBarInProgress {
    animation: infinte-loading 2s both infinite;
}

@keyframes infinte-loading {
    0% {
        left: -30%;
    }
    100% {
        left: 100%;
    }
}
