@use "styles/variables";

.post {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: variables.$bg-color-primary;
    margin-bottom: 1%;
    border-radius: 8px;
}

.postContent {
    flex-basis: 100%;
    padding: 15px;
    display: grid;
    position: relative;
    grid-template-columns: auto 10fr auto;
}

.postText {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-left: 1em;
    margin-bottom: 1em;

    p {
        white-space: pre-wrap;
    }

    @media (max-width: 800px) {
        grid-column-start: 1;
        grid-column-end: 4;
        margin-left: 0;
        margin: 1em 0 0.5em 0;
    }
}

.postDate {
    color: variables.$date-color;
    justify-content: flex-start;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;

    a:hover {
        color: inherit;
    }
}

.footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: 5fr 15fr;
    text-align: center;
}

