.replyingTo {
    grid-column-start: 1;
    grid-column-end: 4;
    color: #888;
    max-width: calc(100% - 30px);
}

.outerContainer {
    width: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    position: relative;
}

.innerContainer {
    width: 100%;
    margin-left: 20px;
    height: 25px;
}

.content {
    padding-left: 0.5em;
    width: 100%;
    overflow: hidden;
    text-overflow: "...";
}

.deletedContent {
    font-style: italic;
}

.arrowIcon {
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    bottom: 0px;
}
