@use "./variables";

.container {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.link {
    color: variables.$accent-color;
}
