@use "./variables";

.container {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - variables.$status-bar-height * 2);
}

.link {
    color: variables.$accent-color;
}
