// Colors
$accent-color: #6067fe;
$accent-color-dark: #3F47FF;
$danger-color: #ec4646;
$danger-color-dark: #D61A1A;
$warning-color: #FFD600;
$warning-color-dark: #D4BA2E;
$date-color: #999999;
$success-color: #43B581;

$text-color-primary: #DEE3EA; // text-color-primary-dark
$text-color-secondary: #5D7290; // text-color-secondary-dark
$icon-color: #B2BDCD; // icon-color-dark
$divider-color: #323D4D; // divider-line-color-dark
$bg-color-secondary: #242C37; // bg-color-secondary-dark
$bg-color-primary: #151A21; // bg-color-primary-dark, also used for inputs??
$base-bg-color: #0B0E11; // base-bg-color-dark.

// Measurements
$status-bar-height: 83px;
$status-bar-height-mobile: 60px;
$nav-bar-height: 51px;
$comment-box-height: 60px;
