$accent-color: #6067fe;
$danger-color: #ec4646;
$warning-color: #FFD600;
$date-color: #999999;

$text-color-primary: #DEE3EA; // text-color-primary-dark
$icon-color: #B2BDCD; // icon-color-dark
$text-color-secondary: #5D7290; // text-color-secondary-dark
$divider-color: #323D4D; // divider-line-color-dark
$bg-color-secondary: #242C37; // bg-color-secondary-dark
$bg-color-primary: #151A21; // bg-color-primary-dark, also used for inputs??
$base-bg-color: #0B0E11; // base-bg-color-dark.
