.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 8px;
    width: 5em;
    height: 100%;
    margin: auto;
    background-color: #6067fe;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: #4851fe;
    }

    &:focus {
        background-color: #4851fe;
    }
}
