@use "./variables";

.messagesContainer {
    width: 100%;
    height: calc(100vh - 83px - 1em);
    display: flex;
    align-items: stretch;
    max-height: calc(100vh - 83px - 1em);
    margin-top: 1em;
    position: relative;

    @media (max-width: 800px) {
        height: calc(100vh - 83px - 65px);
        max-height: calc(100vh - 83px - 65px);
        margin: 0;
    }
}

.messagesContainerMobile {
    @media (max-width: 800px) {
        height: calc(100vh);
        max-height: calc(100vh);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: #151515;
    }
}

.messagesList {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    z-index: 4;

    @media (max-width: 800px) {
        width: 100%;
    }
}

.messagesListMobile {
    @media (max-width: 800px) {
        display: none;
    }
}

.conversation {
    width: 70%;
    display: flex;
    flex-direction: column;
    z-index: 3;
    position: relative;

    @media (max-width: 800px) {
        width: 100%;
        display: none;
    }
}

.conversationMobile {
    @media (max-width: 800px) {
        display: flex;
    }
}

.user {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding: 0 15px;

    @media (max-width: 800px) {
        padding: 15px;
    }
}

.username {
    font-size: 1.2em;
    color: #666;
}

.backButton {
    border-radius: 55px;
    height: 40px;
    width: 40px;
    display: none;
    justify-content: center;
    align-items: center;

    &:active {
        background-color: #373737;
        cursor: pointer;
    }

    @media (max-width: 800px) {
        display: flex;
    }
}

.messagesAreaContainer {
    flex-grow: 1;
}

.messagesArea {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    & > div > div {
        padding-left: 50px;
        padding-right: 50px;

        @media (max-width: 800px) {
            padding-left: 20px;
            padding-right: 20px;    
        }
    }
}

.newMessagesAlert {
    position: absolute;
    bottom: 75px;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #252525;
    border: 2px solid variables.$accent-color;
    padding: 5px 10px;
    margin: 0 auto;
    width: fit-content;
    width: -moz-fit-content;
    text-shadow: 0px 0px 5px khaki;
    cursor: pointer;
}

.messageInputArea {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-height: 80px;
    align-items: center;
    justify-content: flex-end;
    background-color: #111;
    grid-gap: 10px;
    padding: 10px 20px;
}

.messageAttachment {
    padding: 20px 0;
}

.previewImage {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    position: relative;
}

.previewImageClose {
    position: absolute;
    border-radius: 55px;
    width: 25px;
    height: 25px;
    background-color: #373737;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.messageInputContainer {
    display: flex;
    background-color: #111;
    flex-direction: column;
    position: relative;
}

.messageInput {
    background-color: transparent;
    color: white;
    width: 100%;
    overflow: auto;
    overflow-wrap: break-word;
    display: inline-block;
    align-items: center;
    align-content: center;
    line-height: 1.7;
    font-weight: normal;
    outline: none;
    max-height: 40px;
}

.messageInput:empty::before {
    content: attr(data-placeholder);
    color: rgba(255, 255, 255, 0.48);
    cursor: text;
    display: flex;
    align-items: center;
    align-content: center;
    font-weight: bold;
}

.messageInput::content {
    display: flex;
    align-items: center;
    align-content: center;
}

.messageInputOptions {
    grid-gap: 10px;
}

.sendMessageButton {
    position: relative;
    display: flex;
    border-radius: 55px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    z-index: 1;

    &:hover:not(:disabled) {
        background-color: #373737;
        cursor: pointer;
    }
}

.sendMessageButtonMobile {
    border-radius: 55px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover:not(:disabled) {
        background-color: #7178fe;
        cursor: pointer;
    }
}

.fileInput {
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}

.button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;

    &:hover:not(:disabled) {
        background-color: #373737;
        cursor: pointer;
    }
}

.charLimit {
    background-color: variables.$accent-color;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 7px;
    max-width: 100%;
    z-index: 1;
}

.charLimitReached {
    background-color: #ec4646;
}

.progressBar {
    background-color: #16c79a;
    position: absolute;
    left: -30%;
    right: 0;
    top: 0;
    height: 7px;
    max-width: 30%;
    z-index: 1;
    display: none;
}

.progressBarInProgress {
    display: inline;
    animation: infinte-loading 2s both infinite;
}

.typing {
    background-color: #6067fe;
    padding: 5px 10px;
}

@keyframes infinte-loading {
    0% {
        left: -30%;
    }
    100% {
        left: 100%;
    }
}
