@use "./variables";

.messagesContainer {
    width: 100%;
    height: calc(100vh - variables.$status-bar-height - 1em);
    display: flex;
    align-items: stretch;
    max-height: calc(100vh - variables.$status-bar-height - 1em);

    @media (max-width: 900px) {
        height: calc(100vh - variables.$status-bar-height-mobile - variables.$nav-bar-height);
        max-height: calc(100vh - variables.$status-bar-height-mobile - variables.$nav-bar-height);
        margin: 0;
    }
}

.messagesContainerMobile {
    @media (max-width: 900px) {
        height: calc(100vh);
        max-height: calc(100vh);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: variables.$base-bg-color;
    }
}

.messagesList {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: variables.$base-bg-color;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    z-index: 4;
    border-right: 1px solid variables.$divider-color;
    border-left: 1px solid variables.$divider-color;

    @media (max-width: 900px) {
        width: 100%;
        border-right: unset;
        border-left: unset;    
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.messagesListMobile {
    @media (max-width: 900px) {
        display: none;
    }
}

