@use "./variables";

.content {
    display: flex;
    column-gap: 2em;
    margin-top: 1em;

    .leftSide {
        min-width: 20%;
        color: white;
        position: sticky;
        top: 6em;
        height: 100%;

        @media (max-width: 800px) {
            display: none;
        }
    }

    .center {
        min-width: 50%;

        @media (max-width: 800px) {
            flex-basis: 100%;
            margin: 0 1em;
        }
    }

    .rightSide {
        width: 100%;
        color: white;
        position: sticky;
        top: 6em;
        height: 100%;

        @media (max-width: 800px) {
            display: none;
        }
    }
}

.container {
    display: grid;
    grid-gap: 20px;
    position: relative;
    width: 100%;

    @media (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-bottom: 5em;
        max-height: 100%;
    }
}

.scrollableArea {
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;

    &::-webkit-scrollbar {
        display: none;
    }

    @media (max-width: 1200px) {
        grid-column-start: 1;
        grid-column-end: 3;
        height: calc(100% - variables.$nav-bar-height);
        max-height: calc(100% - variables.$nav-bar-height);
    }
}

.user {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-gap: 20px;
}

.display_name {
    font-size: 2.5em;

    @media (max-width: 800px) {
        font-size: 2em;
    }
}

.username {
    font-size: 1.5em;

    @media (max-width: 800px) {
        font-size: 1em;
    }
}

.userInfo {
    display: flex;
    align-items: center;
    grid-gap: 30px;
}

.userImage {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 1200px) {
        width: 150px;
        height: 150px;
        min-width: 150px;
        min-height: 150px;    
    }

    @media (max-width: 400px) {
        width: 120px;
        height: 120px;
        min-width: 120px;
        min-height: 120px;
    }
}

.userImageNotFound {
    background-color: #373737;
}

.userStats {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-top: auto;
    grid-gap: 20px;

    @media (max-width: 1200px) {
        align-items: center;
    }
}

.userButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
}

.statsContainer {
    display: flex;
    grid-gap: 20px;
}

.editProfileButton {
    background-color: variables.$accent-color;
    padding: 13px 20px;
    font-weight: bold;
    cursor: pointer;
}

.userExtraInfo {
    padding: 20px;
    height: min-content;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;    
    position: initial;
    width: initial;
    height: initial;
}

.userExtraInfoNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bioBirthdayTitle {
    font-size: 2em;

    @media (max-width: 1200px) {
        font-size: 2.5em;
    }
}

.userPosts {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    @media (max-width: 1200px) {
        grid-column-end: 3;
    }
}

.tabs {
    background-color: variables.$bg-color-secondary;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.postsTab {
    padding: 15px 0;
    flex-basis: 25%;
    border-right: 3px solid variables.$base-bg-color;
    border-top-left-radius: 8px;

    @media (hover: hover) {
        &:hover {
            background-color: variables.$divider-color;
        }
    }
}

.postsAndCommentsTab {
    padding: 15px 2px;
    flex-basis: 50%;

    @media (hover: hover) {
        &:hover {
            background-color: variables.$divider-color;
        }
    }
}

.mediaTab {
    padding: 15px 0;
    flex-basis: 25%;
    border-left: 3px solid variables.$base-bg-color;
    border-top-right-radius: 8px;

    @media (hover: hover) {
        &:hover {
            background-color: variables.$divider-color;
        }
    }
}

.activeTab {
    background-color: variables.$accent-color;

    @media (hover: hover) {
        &:hover {
            background-color: variables.$accent-color;
        }
    }
}

.icon {
    min-width: 32px;
    min-height: 32px;
}

.suggestedUsersDesktop {
    @media (max-width: 1200px) {
        display: none;
    }
}

.suggestedUsersMobile {
    @media (min-width: 1200px) {
        display: none;
    }
}
