@use "./variables";

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    position: relative;
    margin: 2em 2em 0 2em;

    @media (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 1em 1em 5em 1em;
        max-height: 100%;
    }
}

.scrollableArea {
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;

    &::-webkit-scrollbar {
        display: none;
    }

    @media (max-width: 1200px) {
        grid-column-start: 1;
        grid-column-end: 3;
        height: calc(100% - 65px);
        max-height: calc(100% - 65px);
    }
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1200px) {
        flex-direction: column;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-gap: 20px;
    }
}

.display_name {
    font-size: 2.5em;

    @media (max-width: 800px) {
        font-size: 2em;
    }
}

.username {
    font-size: 1.5em;

    @media (max-width: 800px) {
        font-size: 1em;
    }
}

.userInfo {
    display: flex;
    align-items: center;
    grid-gap: 30px;
}

.userImage {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 1200px) {
        width: 150px;
        height: 150px;
        min-width: 150px;
        min-height: 150px;    
    }

    @media (max-width: 400px) {
        width: 120px;
        height: 120px;
        min-width: 120px;
        min-height: 120px;
    }
}

.userImageNotFound {
    background-color: #373737;
}

.userStats {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-top: auto;
    grid-gap: 20px;

    @media (max-width: 1200px) {
        align-items: center;
    }
}

.userButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
}

.statsContainer {
    display: flex;
    grid-gap: 20px;
}

.followButton {
    background-color: variables.$accent-color;
    padding: 13px 20px;
    font-weight: bold;
    cursor: pointer;
}

.userExtraInfo {
    padding: 20px;
    height: min-content;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;    
    position: initial;
    width: initial;
    height: initial;
}

.userExtraInfoNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bioBirthdayTitle {
    font-size: 2em;

    @media (max-width: 1200px) {
        font-size: 2.5em;
    }
}

.userPosts {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    @media (max-width: 1200px) {
        grid-column-end: 3;
    }
}

.tabs {
    background-color: #252525;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.postsTab {
    padding: 15px 0;
    flex-basis: 25%;
    border-right: 3px solid #151515;
    border-top-left-radius: 8px;

    @media (hover: hover) {
        &:hover {
            background-color: #202020;
        }
    }
}

.postsAndCommentsTab {
    padding: 15px 2px;
    flex-basis: 50%;

    @media (hover: hover) {
        &:hover {
            background-color: #202020;
        }
    }
}

.mediaTab {
    padding: 15px 0;
    flex-basis: 25%;
    border-left: 3px solid #151515;
    border-top-right-radius: 8px;

    @media (hover: hover) {
        &:hover {
            background-color: #202020;
        }
    }
}

.activeTab {
    background-color: variables.$accent-color;

    @media (hover: hover) {
        &:hover {
            background-color: variables.$accent-color;
        }
    }
}
